<div class="container">
  <div class="row">

    <div class="col-md-1">
      <div class="side-bar">
        <button ng-click="done()" class='btn btn-danger' type="button" name="button">Stop flying return home</button>
      </div>
      <br>
      <hr>
    </div>

    <div class="col-md-11">
      <div class="wrapper">
        <div class="h_iframe">
          <!-- a transparent image is preferable -->
          <img class="ratio" src="http://placehold.it/16x9"/>
          <iframe src="http://pleasingfungus.com/Manufactoria/" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</div>
