<!-- <div class="space" ng-repeat="drone in drones"> -->
  <!-- <div ng-if="!drone.rented" class="container panel" > -->
    <div class="droneBox pull-left panel">
      <img class='droneImg' src="{{userDrone.image}}" alt="not found">
    </div>
    <div class="droneBox">
      <h3>{{userDrone.name}}</h3>
      <hr>
      <div class="pull-left">
        <p>
          {{userDrone.description}}
        </p>
      </div>
      <div class="">
        <button ng-click="flyDrone(userDrone)"  class='btn btn-success pull-right' type="button" name="button">Check Me Out</button>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->
